.App {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

/* Forms */

.vertical-form {
  display: flex;
  flex-direction: column;
}

/* Basic Modifiers */
.full-width {
  width: 100%;
}

.grow {
  flex-grow: 1;
}

.main-header {
  border-bottom: 2px solid black;
}
.main-header__nav-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.main-header__nav-link {
  text-decoration: none;
  margin-right: 1rem;
}

.horizontal-container {
  display: flex;
  height: 100%;
}

.dashboard {
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgrey;
  background-color: #f2f2f2;
  min-width: 150px;
}

.dashboard__button {
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem 0;
  border-bottom: 1px solid white;
}
.dashboard__button--sub {
  background-color: darkgrey;
}
.dashboard__button:hover {
  width: 100%;
  background-color: white;
  color: black;
  border-bottom: 1px solid red;
}

.dashboard__button--text {
  margin: 0;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  text-align: center;
}
.dashboard__control-group {
  margin-bottom: 1rem;
}
.workspace-container {
  display: flex;
  margin: 1rem;
  width: 100%;
}

.story-entry-button {
  width: 200px;
  height: 150px;
  border-radius: 6px;
}

.story-part {
  border-radius: 6px;
  padding: 1rem;
  border: 1px solid black;
}
