.button {
  border-radius: 4px;
  font-size: 18px;
  padding: 1rem;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

/* A centered flex container that takes 75% of width and full height */
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75vw;
  height: 100%;
}

/* A flex container used for the dashboard */
.horizontal-container {
  display: flex;
  height: 100%;
}

.panel {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  padding: 1rem;
  border-radius: 6px;
}

.panel-centered {
  margin: auto;
}

.panel--horizontal {
  flex-direction: row;
}

/* Forms */
.vertical-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.vertical-form__title {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.vertical-form__label {
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.vertical-form__input {
  margin-bottom: 1rem;
  font-size: 18px;
  padding: 0.5rem;
  border-radius: 6px;
  border-color: lightgrey;
  border-style: solid;
}

/* Basic Modifiers */
.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.grow {
  flex-grow: 1;
}

.workspace-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 100%;
}

.workspace-writing-area {
  resize: none;
  border-radius: 6px;
  border-color: lightgrey;
  padding: 1rem;
}
