* {
  box-sizing: border-box;
}

/* Buttons -- Basic*/
.button {
  display: flex;
  border-radius: 4px;
  font-size: 18px;
  padding: 1rem;
  justify-content: center;
}

/* Buttons -- Elements */
.button--icon {
  border: none;
  background-color: none;
}

.button__text {
  align-self: center;
}

.button__text:not(:only-child) {
  margin-right: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.button__icon {
  align-self: center;
}
.button__icon:not(:only-child):not(:last-child) {
  margin-right: 1rem;
}
/* Buttons -- Modifiers (Color) */
.button-primary {
  background-color: #42b4d0;
  color: white;
}

.button--negative {
  background-color: #fd463b;
  color: white;
}

.button--positive {
  background-color: #1bbb1b;
  color: white;
}
/* Buttons -- Modifiers (Size) */
.button--medium {
  font-size: 24px;
}

/* 
.icon-small {
  font-size: 16px;
}
.icon-medium {
  font-size: 32px;
} */

.App {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  /* height: 100vh; */
}

.title {
  font-size: 32px;
  font-weight: bold;
}

/* A centered flex container that takes 75% of width and full height */
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75vw;
  height: 100%;
}

/* A flex container used for the dashboard */
/* .horizontal-container {
  display: flex;
  height: 100%;
} */

.panel {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.panel-centered {
  margin: auto;
}

/* .panel--horizontal {
  flex-direction: row;
} */

/* Forms */
.vertical-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.vertical-form__title {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.vertical-form__label {
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.vertical-form__input {
  margin-bottom: 1rem;
  font-size: 18px;
  padding: 0.5rem;
  border-radius: 6px;
  border-color: lightgrey;
  border-style: solid;
}

/* Basic Modifiers */
.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.grow {
  flex-grow: 1;
}

.workspace-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.workspace-writing-area {
  resize: none;
  border-radius: 6px;
  border-color: lightgrey;
  padding: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 426px) {
  .App {
    height: 100vh;
  }
  .horizontal-container {
    display: flex;
    height: 100%;
  }
  .panel--horizontal {
    flex-direction: row;
  }
  .story-grid-container {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-auto-rows: 80px;
    grid-gap: 0.5rem;
  }
}
