.story {
  width: 100%;
}

.story__title {
  font-size: 32px;
  font-weight: bold;
}
.story__synopsis {
  font-style: italic;
}
.story__commands {
  width: 100%;
  justify-content: center;
}

.story__commands__command {
  margin-bottom: 1rem;
}

@media (min-width: 426px) {
  .story__commands__command {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}
